.target-header {
  font-size: .875rem;
  font-weight: bold;
  display: inline-block;
  color: #1f2226;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 1.5rem;
}

.targets {
  margin-top: 1.5rem;
}

.full-span {
  grid-column-start: 1;
  grid-column-end: 3;

  .target-menu {
    margin-top: -.5rem;
  }
}

.radius {
  display: flex;
  flex-direction: row;

  .radius-title {
    width: 78%;

    .radius-input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  .radius-unit {
    width: 25%;

    select {
      background-color: #dee5eb;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

.delete {
  position: relative;
  margin: 2rem 0 0 -3rem;
  z-index: 100;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.validation-error {
  font-size: 0.75rem;
  line-height: 1.1rem;
  color: #d0021b;
  width: 31.5rem;
  margin: .25rem 0 -.5rem 0;
}

.icon_cursor {
  cursor: pointer;
}