<div class="filter-container">
    <button [class]="buttonClass"
            (click)="toggleFilterView()"
            attr.data-aid="{{defaultButtonText.replace(' ', '-').toLowerCase()}}-filter-button">
        {{ buttonText }}
    </button>

    <div *ngIf="showFilterView" data-aid="filter-component" class="filter-popup"
         (clickOutside)="resetFiltersAndClose()" [exclude]="'.filter-clear'" [delayClickOutsideInit]=true>

        <div class="filter-content">
            <div class="select-option-group" *ngFor="let systemOptions of availableOptions">
                <span *ngIf="availableOptions.length > 1" class="display-name">{{systemOptions.displayName}}</span>
                <stargate-filter-system-option *ngFor="let option of systemOptions.options"
                                               [option]="option" [isChecked]="option.isSelected"
                                               (updateFilter)="toggleFilter($event)">
                </stargate-filter-system-option>
            </div>
        </div>
        <div class="footer">
            <div class="filter-clear" [hidden]="selectedOptions.length < 1" (click)="clearFiltersAndApply()">Clear</div>
            <div class="filter-apply" (click)="doFilter()">Apply</div>
        </div>
    </div>
</div>
